export KUBECONFIG=$(expand_path ./tofu/kubeconfig)
export ANSIBLE_CONFIG=$(expand_path ./metal/ansible.cfg)
export ANSIBLE_VAULT_PASSWORD_FILE=$(expand_path ./metal/.vault-pass)

export $(ansible-vault decrypt --output - .env | xargs)
export $(ansible-vault decrypt --output - .env | xargs -I% echo % | tr '[:upper:]' '[:lower:]' | xargs -I% echo TF_VAR_%)
