export KUBECONFIG=$(expand_path ./tofu/kubeconfig)
export ANSIBLE_CONFIG=$(expand_path ./metal/ansible.cfg)
export ANSIBLE_VAULT_PASSWORD_FILE=$(expand_path .vault-pass)

export $(ansible-vault decrypt --output - .env | xargs)
export $(ansible-vault decrypt --output - .env | xargs -I% echo % | tr '[:upper:]' '[:lower:]' | xargs -I% echo TF_VAR_%)

#https://opentofu.org/docs/cli/config/environment-variables/#tf_encryption
export TF_ENCRYPTION=$(cat <<EOF
key_provider "pbkdf2" "my_passphrase" { passphrase = "${TF_STATE_ENCRYPTION_PASSPHRASE}"}
EOF
)
