#shellcheck disable=SC2155,SC2046
export ANSIBLE_CONFIG=$(expand_path ./infrastructure/ansible/ansible.cfg)
export ANSIBLE_VAULT_PASSWORD_FILE=$(expand_path .vault-pass)

export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/homeops.txt)
export BWS_ACCESS_TOKEN=$(sops -d ./secrets.sops.yml | yq -r '.bws_token')

export $(bws secret get 77da0e71-2eb4-47d0-be66-b17600924b0a -o env | xargs)
